body {
    font-family: 'Poppins';
    text-align: center; 
    margin-top: 15px;
}

body {
    margin-left: 85px;
    align-items: center;
    padding: 30px;
    width: 90%;
    height: 80%;
    border: 1px solid;
    line-height: 1
  } 
button {
    font-size: 18px; /* Tamaño de la fuente */
    border: 1px solid grey;
    border-radius: 5px; /* Bordes redondeados */
    background-color: white; /* Color de fondo */
    color: black; /* Color del texto */
    cursor: pointer; /* Cursor en forma de mano */
    width: 200px; /* Ancho del botón */
    height: 50px;
    
}
h4 {
    margin-left: 80%; 
    color: grey;/* Margen a la izquierda del elemento h4 */
}
h3 {
    color: grey;/* Margen a la izquierda del elemento h4 */
}